body{
    background-image: url("/content/Background.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;   
}

.Logo img{
    width: 300px;
    height: auto
}
.Logo :hover{
    transform: scale(1.05)
}

.Bosslogo img{
    width: 500px;
    height: auto;
}

.Bosslogo :hover{
    transform: scale(1.05)
}